.addOnsForm {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 45px 0px;
  color: rgba(18, 51, 94, 255);
  font-weight: 500;
  font-size: 16px;
}

.checkBoxForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.chexkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #827db2;
  border-radius: 10px;
  padding: 15px 25px;
}

.chexkBoxContainer > div {
  display: flex;
  gap: 20px;
}
.chexkBoxContainer h4 {
  margin-bottom: 5px;
}
.chexkBoxContainer .description {
  color: #acadb3;
}
