.SubscriptionPage_formContainer .personalInfoForm {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 45px 0px;
  color: rgba(18, 51, 94, 255);
  font-weight: 500;
}

.formHeader > .formTitle {
  font-size: 35px;
  margin-bottom: 15px;
}

.formHeader > p {
  color: #acadb3;
  font-weight: 600;
}

.personalInfoForm .formField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 25px;
}
.personalInfoForm .formField > input {
  padding: 5px 10px;
  font-size: 16px;
  color: #182b44;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #dfdee2;
  outline-color: hsl(229, 24%, 87%);
}

.formField > .label {
  display: flex;
  justify-content: space-between;
}
.formField > .label > p {
  display: none;
}

.formField > .label > .error {
  display: block;
  color: red;
}
.personalInfoForm .formField > input.error {
  border-color: red;
  outline-color: red;
}
