@use "../color_vars" as *;

.subscriptionsTable_container {
  font-family: Arial, sans-serif;
  color: #333;
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 4px $shadow;
  background-color: $Wheat;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: scroll;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;

  thead {
    > tr {
      background-color: #f5f5f5;
    }
  }

  tbody {
    > tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    > tr:hover {
      background-color: #e0e0e0;
    }
  }

  th,
  td {
    border-bottom: 1px solid #d1d5db;
    padding: 0.75rem 1rem;
    text-align: left;

    .text.flex {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
